* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boxBox {
  margin: 1cm;
  width: 3cm;
  height: 3cm;
}

.holdingBox{
  display: flex;
  flex-wrap: wrap;
}